@font-face {
    font-family: Avenir;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: Avenir;
    src: url(./fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Avenir;
    src: url(./fonts/AvenirLTStd-Heavy.otf);
    font-weight: 500;
}



*{
    font-family: Avenir;
}

.light{
    background-color: white;



}

footer{
    background-color: #172B4D;
}
.a{
    color: #18164A;
    margin-left: 10px;
    font-size: 16px;
   
}

.bottom{
    padding-top: 0%;
}

.m-active{
    border-bottom: 3px solid #18164A;;
}
.a:hover{   
    border-bottom: 3px solid #DFE1E5;
}

.burger span{
    background-color: black;
}

.m-tabs{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 85%;
    cursor: pointer;
}
.main{
    margin-top: 5%;
   
}

section.section.main{
    padding-top: 2%;
    padding: 0px;
}

.img{
    background: url(imgs/Logo.svg);
    background-size: 100% 100%;
    width: 233.3px;
    height: 52.31px;
    margin: auto;
}
nav{
    height: 58px;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}
.navbar-start a{
    margin-top: 5px;
    text-align: left;
    font-size: 15.8px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #3D3B6C;
    opacity: 1;
}
 .s{
    padding-left: 10%; 
    padding-right: 10%;
}

    div.coulmn{
        padding-left: 0%;
        padding-right: 0%;
    }

 .t{
    text-align: left;
    font-size: 30px;
    letter-spacing: 0px;
    color: #3D3B6C;
    opacity: 1;
    padding-bottom: 20px;
}

.st{
    text-align: left;
    font-size: 14.8px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #3D3B6C;
    opacity: 1;
}
div.column.one{
    margin: auto;
}


.shadow{
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
     }
@media screen and (min-width: 1900px) {


.navbar{
    width: 100%;
    padding: 0;
    margin:0;
    height: 81px;
}

div.container.aa{
    padding: 0;
    margin-left: 173px;
    margin-right: 0;
    right: 00%;
}

a.navbar-item.img{
    background: url(imgs/Logo.svg);
    background-size: 100% 100%;
    width: 233.3px;
    height: 81.31px;
    margin: 0;
    margin: auto;
}

a.navbar-item.a{
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
}

div.buttons{
    position: absolute;
    right: 174px;
    top: 20px;

}

a.button.is-small.is-primary{
    font-size: 19px;
    font-weight: 500;
    height: 40px;
    width: 113px;
    border-radius: 4px;
}

section.section.main{
    height: 484px;
    width: 1804px;
    margin: 57px;
    margin-bottom: 0px;
}

div.container.bb{
    margin-right: 00;
    padding: 00;
    float: left;
    max-width: 1804px;
}

div.columns.s.is-variable.is-8{
    padding: 0%;
}

div.column.one {
    margin-left: 121px;
    margin-top: 121px;
    width: auto;
    padding-right: 0px;
    padding-left: 0;
}

h1.title{
    width: 800px;
    height: 115px;
    font-size: 44px;
}

h2.subtitle{
    width: 659px;
    height: 115px;
    font-weight: 500;
    font-size: 22px;
}

div.column.two {
    padding: none;
    margin-left: 100px;    
    margin-top: 54px;
    width: auto;
    height: 400px;
}
img.i{
    width: 640px;
    height: 400px;
}

section.section.shadow{ 
    box-shadow: none;
    padding: 0px;
    height: 484px;
    width: 1804px;
    margin: 45px;

    margin-bottom: 0px;
    margin-top: -12px;
    }

    div.container.cc{
        margin-right: 00;
        padding: 00;
        float: left;
        max-width: 1804px;
    }
    div.column.twoo {
        padding: none;
        margin-left: 200px;    
        margin-top: 57px;
        width: 592px;
        height: 400px;
    }
    div.column.onee {
        margin-left: 132px;
        margin-top: 124px;
        width: auto;
        padding-right: 0px;
        padding-left: 0;
    }
    h1.titlee{
        width: 500px;
        height: 60px;
        font-size: 44px;
    }
    
    h2.subtitlee{
        width: 750px;
        height: 390px;
        font-weight: 500;
        font-size: 22px;
    }
}










































@media screen and (max-width: 900px) {

    html{
        overflow-x: hidden;
    }
    
    .s{
       padding-left: 8%; 
       padding-right: 8%;
    } 
    .img{
        left: -45px;
       background: url(imgs/Logo.svg);
       background-size: 100% 100%;
       width: 233.3px;
       height: 52.31px;
       margin: auto;
    }
    .tt{
        margin-top: 50px;
    }

    
}